@model Newsletter

<div class="container" style="width:50%;">
    <form method="post"> 
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2>
                    Create NewsLetter
                </h2>
                <hr />
            </div>
            <div asp-validation-summary="All" style="list-style:None;" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="NewsLetterName"></label>
                <input asp-for="NewsLetterName" class="form-control"/>
                <span asp-validation-for="NewsLetterName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Version"></label>
                <input asp-for="Version" class="form-control"/>
                <span asp-validation-for="Version" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-controller="NewsLetter" asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}